<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Clase 3 Ejercicios</title>
</head>
<body>

    <div id="pokemon-container"></div>

    

    <div class="header">
        <h1 class="titulo">Clase 2 Ejercicios</h1>
        <div class="back">
        <a href="/index.html"><img class="image" src="/image/boton-de-retroceso.png" alt=""></a></div>
        </div>
    
        <h2 class="titulo">Ejerciciosss...</h2>
    
        <ul class="clase3">
            <button class="filter-button"  id="filtrar">Filtrar</button>
            <button class="filter-button" id="agregar">Agregar</button>
            <button class="filter-button" id="eliminar">Eliminar</button>
        </ul>
    
    
    <script src="/functions/mainclase3.js"></script>
</body>
</html>